.input-div{
    background-color: rgb(212, 238, 247);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.input-div input{
    border-radius: 20px;
    border: none;
    border-bottom: 2px solid rgb(238, 134, 202);
    border-right: 2px solid rgb(238, 134, 202);
    margin-left: 10px;
    text-align: center;
}
.input-div p{
    margin-top: 20px;
}